body {background-image: url("http://eskipaper.com/images/star-wars-wallpaper-5.jpg");
    background-size: 100%}




h1 {color: darkgray;
    font-family: monospace;
    font-size: 40px;
    float: right;
    margin: 0px;

    
}

img {
   width: 90%;    
    height: 75%;
    position: relative; 
    right: 12px; 
    top: 10px;}




ul {
    width: 17%;
    height: 217px;
    border-style: solid;
    border-color: deepskyblue;
    color: white;
    position: relative;
    font-weight: bolder;
    left: ;
    background-color: black;
    float: left;
    margin-right: 2%;}

.characters {box-sizing: content-box;
             width: 100%;
             clear: both;}

.staggingAreas {color: darkgray;
                font-family: monospace;
                font-size: 20px;
                clear: both;
                }

a {box-sizing: border-box;
   width: 20px;
   height: 20px;
   font-size: 15px;
   margin: 0px; 
   padding: 15px;
   background-color: darkgrey;
   color: black;
    font-weight: bold;
    border-color: black;
    border-style: solid;
   }
a:hover {background-color: red;
         flex-grow: 10px;
         }

ul:hover {background-color: red;}

#userCharacter {margin-top: 30%;}

#fightSection {margin-top: 30%;}